<div xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <nav class="app-header navbar navbar-default">
        <div class="container">
            <ul class="nav nav-tabs" style="border: none;">
                <li role="presentation" class="text">
                    <a class="app-header" role="menuitem" th:href="@{/dashboard}"><span class="glyphicon glyphicon-home"
                                                                                        aria-hidden="true"></span>主页</a>
                </li>
                <li role="presentation" class="text">
                    <a class="app-header" role="button" data-toggle="collapse"
                       data-target="#collapseMenu" aria-expanded="true" aria-controls="collapseMenu"><span
                            class="glyphicon glyphicon-th-list"
                            aria-hidden="true"></span>功能</a></li>
                <li role="presentation" class="navbar-right dropdown" style="margin-right: 0;">
                    <span th:if="${session.user==null}">
                        <a class="dropdown-toggle" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false"
                           data-toggle="modal" data-target="#LoginModal">登陆
                        </a>
                        <span>/</span>
                        <a class="dropdown-toggle" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false"
                           data-toggle="modal" data-target="#RegisterModal">注册
                        </a>
                    </span>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false"
                       th:if="${session.user!=null}"
                       th:utext="${session.user.name} + '&lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;'"></a>
                    <ul class="dropdown-menu list-group" th:if="${session.user!=null}">
                        <a role="button" class="list-group-item" th:href="@{/user/logout}"
                           onclick="userService.logout()">注销</a>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
    <!-- Modal of login -->
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form th:action="@{/user/login}" method="post" id="loginForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">登陆</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" placeholder="Username"
                                   aria-describedby="sizing-addon1" id="login_user_name" name="name">
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">_/</span>
                            <input type="password" class="form-control" placeholder="Password"
                                   aria-describedby="sizing-addon1" id="login_user_password" name="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="userService.login()">确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Model of register -->
    <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="registerForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">注册</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" placeholder="Username"
                                   aria-describedby="sizing-addon1" id="register_user_name" name="name">
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">_/</span>
                            <input type="password" class="form-control"
                                   placeholder="Password" aria-describedby="sizing-addon1"
                                   id="register_user_password" name="password">
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">_/</span>
                            <input type="password" class="form-control" placeholder="Password"
                                   aria-describedby="sizing-addon1" id="register_user_password_repeat">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="userService.register()">确认
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- menu -->
    <div class="collapse" id="collapseMenu">
        <div class="well">
            <div class="container">
                <ul class="nav nav-pills">
                    <li role="presentation"><a role="menuitem" th:href="@{/finance}">财务管理</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
