<div xmlns:th="http://www.thymeleaf.org" th:fragment="table(doc,url,data)">
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Subject</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Remarks</th>
            <th>OccurrenceTime</th>
            <th>OccurrenceMember</th>
            <th>UpdateTime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record,status:${data.result}">
            <td th:text="${status.count}"></td>
            <td th:text="${record.subject}"></td>
            <td th:text="${record.type}"></td>
            <td th:text="${record.amount}"></td>
            <td th:text="${record.remarks}"></td>
            <td th:text="${record.occurrenceTime}"></td>
            <td th:text="${record?.occurrenceMember?.name}"></td>
            <td th:text="${record.updateOn}"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <!-- 分页 -->
    <div th:include="/common/pagination::pagination(${doc},${url},${data})"></div>
</div>