<div class="container" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#planNavbarContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="planNavbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button class="btn btn-outline-primary" aria-haspopup="true" aria-expanded="false"
                            data-toggle="modal" data-target="#CreatePlanModal">Create
                    </button>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- content -->
    <ul class="list-group">
        <li class="list-group-item list-group-item-action" th:each="plan,planStatus:${plans}">
            <div class="row">
                <div class="col-sm-3" th:text="${plan.subject}"></div>
                <div class="col-sm-3" th:text="${plan.remarks}"></div>
                <div class="col-sm-3" th:text="${plan.loopType}"></div>
                <div class="col-sm-3" th:text="${plan.status}"></div>
            </div>
        </li>
    </ul>

    <!-- create model-->
    <div class="modal fade bd-example-modal-lg" id="CreatePlanModal" tabindex="-1" role="dialog"
         aria-labelledby="CreatePlanModal">
        <div class="modal-dialog modal-lg" role="document">
            <form th:action="@{/plan/addPlan}" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create plan</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
                        </div>
                        <div class="form-group">
                            <label for="loopType">Loop type</label>
                            <select class="form-control" id="loopType" name="loopType">
                                <option value="None">None</option>
                                <option value="Day">Every day</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="remarks">Remarks</label>
                            <textarea type="text" class="form-control" id="remarks" name="remarks"></textarea>
                        </div>
                        <input hidden="hidden" name="status" value="On">
                        <!-- fragments -->
                        <div>
                            <label>Fragments</label>
                            <ul class="nav">
                                <li class="nav-item"><a class="nav-link active" href="#"
                                                        onclick="planService.addFragment()">Add</a></li>
                            </ul>
                            <ul id="fragmentsUl" class="list-group">
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script th:inline="javascript" language="JavaScript">
        var planService = {
            addFragment: function () {
                var $fragmentsUl = $('#fragmentsUl');
                var num = $('#fragmentsUl li').length;
                $fragmentsUl.append('<li class="list-group-item">\n' +
                    '                                    <div class="row">\n' +
                    '                                        <div class="col-sm-12">\n' +
                    '                                            <div class="input-group mb-3">\n' +
                    '                                                <div class="input-group-prepend">\n' +
                    '                                                    <span class="input-group-text" id="basic-addon3">Subject</span>\n' +
                    '                                                </div>\n' +
                    '                                                <input type="text" class="form-control" aria-label="timeStart"\n' +
                    '                                                       aria-describedby="basic-addon3" name="fragments[' + num + '].subject">\n' +
                    '                                            </div>\n' +
                    '                                        </div>\n' +
                    '                                        <div class="col-sm-5">\n' +
                    '                                            <div class="input-group mb-3">\n' +
                    '                                                <div class="input-group-prepend">\n' +
                    '                                                    <span class="input-group-text" id="basic-addon1">Time start</span>\n' +
                    '                                                </div>\n' +
                    '                                                <input type="time" class="form-control" aria-label="timeStart"\n' +
                    '                                                       aria-describedby="basic-addon1" name="fragments[' + num + '].timeStart">\n' +
                    '                                            </div>\n' +
                    '                                        </div>\n' +
                    '                                        <div class="col-sm-5">\n' +
                    '                                            <div class="input-group mb-3">\n' +
                    '                                                <div class="input-group-prepend">\n' +
                    '                                                    <span class="input-group-text" id="basic-addon2">Time end</span>\n' +
                    '                                                </div>\n' +
                    '                                                <input type="time" class="form-control" aria-label="timeEnd"\n' +
                    '                                                       aria-describedby="basic-addon2" name="fragments[' + num + '].timeEnd">\n' +
                    '                                            </div>\n' +
                    '                                        </div>\n' +
                    '                                        <div class="col-sm-2">\n' +
                    '                                            <div class="form-check">\n' +
                    '                                                <input type="radio" class="form-check-input" id="statusRadio" name="fragments[' + num + '].up">\n' +
                    '    <label class="form-check-label" for="exampleCheck1">Up</label>' +
                    '                                            </div>\n' +
                    '                                        </div>\n' +
                    '                                    </div>\n' +
                    '                                </li>');
            }
        };
    </script>
</div>