<div xmlns:th="http://www.thymeleaf.org">
    <div class="panel panel-primary" th:if="${feature!=null}">
        <div class="panel-heading" th:text="${feature.name}"></div>
        <div class="panel-body">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createRecordModel">新建
                </button>
                <a type="button" class="btn btn-default" th:text="'模板管理'"
                   th:href="@{/feature/}+${feature.id}+'/template'"></a>
            </div>
            <!-- 新建model -->
            <div class="modal fade" tabindex="-1" role="dialog" id="createRecordModel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form th:action="@{/feature/}+${feature.id}+'/createRecord'" method="post"
                              th:object="${record}">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">新建记录</h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-group" th:each="prop,propStatus:${template.properties}">
                                    <span class="input-group-addon" th:text="${prop.name}"></span>
                                    <input type="text" class="form-control" aria-describedby="sizing-addon2"
                                           th:name="${prop.name}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <td>编号</td>
                <td th:each="prop,props:${template.properties}" th:text="${prop.name}"></td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recordItem,stats:${records}">
                <td th:text="${stats.count}"></td>
                <td th:each="item,items:${recordItem.properties}" th:text="${item.value}"></td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary">编辑</button>
                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                data-target="#removeRecordModal">删除
                        </button>

                        <!-- removeRecordModal -->
                        <!-- Modal -->
                        <!--<div class="modal fade" id="removeRecordModal" tabindex="-1" role="dialog"
                             aria-labelledby="removeRecordModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form th:action="@{/feature/}+${feature.id}+'/deleteRecord/'+${recordItem.id}"
                                          method="post">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">请确认</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p th:text="'你即将删除记录：'+${recordItem.name}"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                            <button type="submit" class="btn btn-primary">确认</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="jumbotron" th:if="${feature==null}">
        <h1>Ops, something went wrong.</h1>
        <p>this feature not found or there is some error.</p>
    </div>
</div>