<div xmlns:th="http://www.thymeleaf.org" class="container">
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#settingNavbarContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="settingNavbarContent">
            <h5 class="form-inline">User information</h5>
        </div>
    </nav>

    <!-- display info -->
    <div class="bg-light">
        <div class="inline">
            <label>User name</label>
            <h5 th:text="${session.user.name}"></h5>
        </div>
    </div>
</div>