<div xmlns:th="http://www.thymeleaf.org" th:fragment="finance-income">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <button type="button" data-toggle="modal" data-target="#CreateFinanceModal" class="btn btn-outline-success">
            Create
        </button>
        <div class="form-inline">
            <input id="incomeKeyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="incomeService.searchCard()">
                Search
            </button>
        </div>
    </nav>
    <div id="income-cards"></div>

    <!-- modal -->
    <div class="modal" id="CreateFinanceModal" tabindex="-1" role="dialog" aria-labelledby="CreateFinanceModal">
        <div class="modal-dialog" role="document">
            <form id="CreateFinanceModalForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create financial income</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="cardSubject">Subject</label>
                            <input type="text" class="form-control" id="cardSubject" placeholder="Subject" name="subject">
                        </div>
                        <div class="form-group">
                            <label for="cardAmount">Amount</label>
                            <input type="number" class="form-control" id="cardAmount" placeholder="Amount" name="amount">
                        </div>
                        <div class="form-group">
                            <label for="cardFrequencyCount">Frequency Count</label>
                            <input type="number" class="form-control" id="cardFrequencyCount" placeholder="Frequency Count"
                                   name="frequency.count">
                        </div>
                        <div class="form-group">
                            <label for="cardFrequencyUnit">Frequency Unit</label>
                            <select class="form-control" id="cardFrequencyUnit" name="frequency.unit">
                                <option value="Moth">Moth</option>
                                <option value="Year">Year</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cardDescription">Description</label>
                            <textarea type="text" class="form-control" id="cardDescription" name="description"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="incomeService.createCard()">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script th:inline="javascript" language="JavaScript">
        var incomeService = {
            searchCard: function () {
                $('#income-cards').load('/daily/finance/income/cards', {keyword: $('#incomeKeyword').val()});
            },
            createCard: function () {
                ajaxUtil.ajaxPostForm('/daily/finance/income/createCard',$('#CreateFinanceModalForm'),function(data){
                    $('#CreateFinanceModal').modal('hide');
                    $('#income-cards').load('/daily/finance/income/cards', {keyword: $('#incomeKeyword').val()});

                },function (e) {
                    console.error(e)
                })
            }
        };
        $(function () {
            $('#income-cards').load('/daily/finance/income/cards', {keyword: ''});
        });
    </script>
</div>
