<div class="app-dashboard-bg" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${session.user==null}">
        <div class="jumbotron">
            <h1>Get to start!</h1>
            <p>Log in to your information</p>
            <p><a role="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#LoginModal">I got a
                account</a>
                <a role="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#RegisterModal">I
                    have nothing</a></p>
        </div>
        <!-- Modal of login -->
        <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <form th:action="@{/user/login}" method="post" th:object="${user}" id="loginForm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Login</h4>
                        </div>
                        <div class="modal-body">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="Username"
                                       aria-describedby="sizing-addon1" id="login_user_name" th:field="*{name}">
                            </div>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">_/</span>
                                <input type="password" class="form-control" placeholder="Password"
                                       aria-describedby="sizing-addon1" id="login_user_password" th:field="*{password}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="userService.login()">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Model of register -->
        <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="registerForm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Register</h4>
                        </div>
                        <div class="modal-body">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="Username"
                                       aria-describedby="sizing-addon1" id="register_user_name" name="name">
                            </div>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">_/</span>
                                <input type="password" class="form-control"
                                       placeholder="Password" aria-describedby="sizing-addon1"
                                       id="register_user_password" name="password">
                            </div>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">_/</span>
                                <input type="password" class="form-control" placeholder="Password"
                                       aria-describedby="sizing-addon1" id="register_user_password_repeat">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="userService.register()">Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="app-dashboard-container" th:if="${session.user!=null}">
        <h1>Hello world!!</h1>
    </div>
</div>