<div xmlns:th="http://www.thymeleaf.org">
    <div class="panel panel-primary">
        <div class="panel-heading">模板属性</div>
        <div class="panel-body">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createPropertyModel">新建
                </button>
            </div>
            <!-- createTemplateModel -->
            <!-- 新建model -->
            <div class="modal fade" tabindex="-1" role="dialog" id="createPropertyModel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form th:action="@{/feature/}+${featureId}+'/template/'+${template.id}+'/property/create'"
                              method="post"
                              th:object="${property}">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">新建属性</h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                    <span class="input-group-addon">名称</span>
                                    <input type="text" class="form-control" aria-describedby="sizing-addon2"
                                           th:field="*{name}">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">类型</span>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择
                                            <span class="caret"></span></button>
                                        <!-- Button and dropdown menu -->
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a role="button"
                                                   th:onclick="|javascript:$('#typeName').val('Integer');|"
                                                   th:text="'Integer'"></a>
                                            </li>
                                            <li>
                                                <a role="button"
                                                   th:onclick="|javascript:$('#typeName').val('String');|"
                                                   th:text="'String'"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <input id="typeName" type="text" class="form-control"
                                           aria-describedby="sizing-addon2" th:field="*{type}">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">默认值</span>
                                    <input type="text" class="form-control" aria-describedby="sizing-addon2"
                                           th:field="*{defaultValue}">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">描述</span>
                                    <input type="text" class="form-control" aria-describedby="sizing-addon2"
                                           th:field="*{description}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" name="saveTemplate" class="btn btn-primary">保存</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <td>编号</td>
                <td>名称</td>
                <td>类型</td>
                <td>默认值</td>
                <td>描述</td>
                <td>更新时间</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prop,stats:${template.properties}">
                <td th:text="${stats.count}"></td>
                <td th:text="${prop.name}"></td>
                <td th:text="${prop.type}"></td>
                <td th:text="${prop.defaultValue}"></td>
                <td th:text="${prop.description}"></td>
                <td th:text="${prop.updateOn}"></td>
                <td>
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-primary" href="#">设置</a>
                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                data-target="#removeTemplateModal">删除
                        </button>

                        <!-- removeRecordModal -->
                        <!-- Modal -->
                        <div class="modal fade" id="removeTemplateModal" tabindex="-1" role="dialog"
                             aria-labelledby="removeRecordModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form th:action="@{/feature/}+${featureId}+'/template/'+${template.id+'/property/'+prop.id}+'/delete'"
                                          method="post">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">请确认</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p th:text="'你即将删除模板：'+${prop.name}"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                            <button type="submit" class="btn btn-primary">确认</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>