<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgh.spring.boot.mapper.FeatureMapper">
    <!-- queryByModuleId -->
    <select id="queryByModuleId" parameterType="java.lang.Integer" resultType="com.lgh.spring.boot.model.MFeature">
        SELECT * FROM t_module_feature tmf LEFT JOIN t_feature tf ON tmf.feature_id = tf.id
        LEFT JOIN t_module tm ON tmf.module_id = tm.id
        WHERE tm.id IS NOT NULL AND tf.id IS NOT NULL AND tm.id = #{moduleId};
    </select>

    <!-- queryById -->
    <select id="queryById" parameterType="java.lang.Integer" resultType="com.lgh.spring.boot.model.MFeature">
        SELECT * FROM t_feature WHERE id = #{featureId};
    </select>
</mapper>
