<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgh.spring.boot.mapper.ModuleMapper">
    <!-- 根据用户ID查询modules -->
    <select id="queryByUserId" parameterType="java.lang.Integer" resultType="com.lgh.spring.boot.model.MModule">
        SELECT tm.* FROM t_user_module tum LEFT JOIN t_user  tu ON tu.id = tum.user_id
        LEFT JOIN t_module tm ON tum.module_id = tm.id WHERE tum.user_id = #{userId} AND tm.id IS NOT NULL ;
    </select>

    <!-- 新增模块 -->
    <insert id="insert" parameterType="com.lgh.spring.boot.model.MModule" useGeneratedKeys="true" keyProperty="module.id">
        INSERT INTO t_module(`name`,`description`) VALUES (#{module.name},#{module.description});
    </insert>
</mapper>
