<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgh.spring.boot.mapper.PlanMapper">
    <resultMap id="base" type="com.lgh.spring.boot.model.MBase">
        <id column="id" property="id"/>
        <result column="del" property="del"/>
        <result column="createOn" property="createOn"/>
        <result column="updateOn" property="updateOn"/>
    </resultMap>
    <resultMap id="fragmentBase" type="com.lgh.spring.boot.model.MBase">
        <id column="fragment_id" property="id"/>
        <result column="fragment_del" property="del"/>
        <result column="fragment_createOn" property="createOn"/>
        <result column="fragment_updateOn" property="updateOn"/>
    </resultMap>
    <resultMap id="fragmentResultMap" type="com.lgh.spring.boot.model.MPlanFragment" extends="fragmentBase">
        <result column="id" property="planId"/>
        <result column="fragment_subject" property="subject"/>
        <result column="fragment_time_start" property="timeStart"/>
        <result column="fragment_time_end" property="timeEnd"/>
        <result column="fragment_up" property="up"/>
    </resultMap>
    <resultMap id="planResultMap" type="com.lgh.spring.boot.model.MPlan" extends="base">
        <result column="subject" property="subject"/>
        <result column="status" property="status"/>
        <result column="loop_type" property="loopType"/>
        <result column="remarks" property="remarks"/>
        <collection property="fragments" resultMap="fragmentResultMap"/>
    </resultMap>

    <insert id="createPlan" useGeneratedKeys="true" keyProperty="plan.id">
        insert into t_plan(subject, status, loop_type, remarks)
        values (#{plan.subject},#{plan.status},#{plan.loopType},#{plan.remarks})
    </insert>

    <insert id="createFragments">
        insert into t_plan_fragment(plan_id, subject, time_start, time_end, up)
        VALUES
               <foreach collection="fragments" item="item" separator=",">
                   (#{item.planId},#{item.subject},#{item.timeStart},#{item.timeEnd},#{item.up})
               </foreach>
    </insert>

    <select id="queryAllPlans" resultMap="planResultMap">
        select tp.*,
               tpf.id as fragment_id,
               tpf.del as fragment_del,
               tpf.createOn as fragment_createOn,
               tpf.updateOn as fragment_updateOn,
               tpf.subject as fragment_subject,
               tpf.time_start as fragment_time_start,
               tpf.time_end as fragment_time_end,
               tpf.up as fragment_up
        from t_plan tp left join t_plan_fragment tpf on tp.id=tpf.plan_id
        order by tp.updateOn desc
    </select>
</mapper>
