<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgh.spring.boot.mapper.RecordMapper">
    <resultMap id="base" type="com.lgh.spring.boot.model.MBase">
        <id column="id" property="id"/>
        <result property="del" column="del"/>
        <result column="updateOn" property="updateOn"/>
        <result column="createOn" property="createOn"/>
    </resultMap>
    <resultMap id="recordResultMap" type="com.lgh.spring.boot.model.MRecord" extends="base">
        <result property="templateId" column="template_id"/>
        <collection property="properties" resultMap="recordPropResultMap"/>
    </resultMap>
    <resultMap id="recordPropResultMap" type="com.lgh.spring.boot.model.MRecordProperty">
        <id property="id" column="propId"/>
        <result property="recordId" column="record_id"/>
        <result property="value" column="value"/>
        <result property="key" column="key"/>
        <result property="templatePropertyId" column="templatePropertyId"/>
    </resultMap>

    <select id="queryByTemplateId" parameterType="java.lang.Integer" resultMap="recordResultMap">
        SELECT tr.*,
            trp.id AS propId,
            trp.record_id,trp.value,trp.del,trp.createOn,trp.updateOn,
            ttp.id AS templatePropertyId,
            ttp.value AS `key`
        FROM t_record tr
            LEFT JOIN t_record_property trp ON tr.id=trp.record_id
            LEFT JOIN t_template_property ttp ON trp.template_property_id = ttp.id
        WHERE tr.template_id=#{templateId};
    </select>
</mapper>
