<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgh.spring.boot.mapper.ResourceMapper">
    <delete id="dropAll">
        truncate table t_library_resource;
    </delete>

    <insert id="save" parameterType="com.lgh.spring.boot.model.library.MResource">
        insert into t_library_resource(`resourceId`, `name`, `description`, `homePageLink`, `interlibSsoSysId`,
        `isNeedParseDetailPage`, `show`, `state`, `prior`, `redirectInterlibSsoUrl`,`resourceGroupName`)
        values
        <foreach collection="resources" item="resource" separator=",">
            (#{resource.resourceId},#{resource.name},#{resource.description},#{resource.homePageLink},#{resource.interlibSsoSysId},
             #{resource.isNeedParseDetailPage},#{resource.show},#{resource.state},#{resource.prior},#{resource.redirectInterlibSsoUrl},#{resource.resourceGroupName})
        </foreach>
    </insert>
</mapper>
