<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgh.spring.boot.mapper.TemplateMapper">
    <resultMap id="base" type="com.lgh.spring.boot.model.MBase">
        <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="createOn" property="createOn" javaType="java.lang.String" jdbcType="DATE"/>
        <result column="updateOn" property="updateOn" javaType="java.lang.String" jdbcType="DATE"/>
        <result column="del" property="del" javaType="java.lang.Boolean" jdbcType="TINYINT"/>
    </resultMap>
    <resultMap id="templateResultMap" type="com.lgh.spring.boot.model.MTemplate" extends="base">
        <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="description" column="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="featureId" column="feature_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
    </resultMap>
    <select id="queryByFeatureId" parameterType="java.lang.Integer" resultMap="templateResultMap">
        SELECT * FROM t_template ORDER BY createOn DESC ;
    </select>

    <insert id="create" parameterType="com.lgh.spring.boot.model.MTemplate" useGeneratedKeys="true" keyProperty="template.id">
        INSERT INTO t_template(feature_id, name, description)VALUES (#{template.featureId},#{template.name},#{template.description});
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM t_template WHERE id = #{templateId};
    </delete>
</mapper>
