<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgh.spring.boot.mapper.TemplatePropertyMapper">
    <insert id="create" parameterType="com.lgh.spring.boot.model.MTemplateProperty" useGeneratedKeys="true" keyProperty="property.id">
        INSERT INTO t_template_property(feature_id, template_id, name, type, value, default_value, description)
        VALUES (#{property.featureId},#{property.templateId},#{property.name},#{property.type},
                #{property.value},#{property.defaultValue},#{property.description});
    </insert>
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM t_template_property WHERE id=#{propertyId};
    </delete>
</mapper>
