<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgh.spring.boot.mapper.UserMapper">
    <select id="selectByNameAndPassword" resultType="com.lgh.spring.boot.model.MUser">
        SELECT * FROM t_user WHERE `name` = #{name} AND `password` = #{password};
    </select>

    <select id="selectByName" resultType="com.lgh.spring.boot.model.MUser">
        SELECT * FROM t_user WHERE `name` = #{name};
    </select>

    <insert id="insert" parameterType="com.lgh.spring.boot.model.MUser">
        INSERT INTO t_user(`name`,`password`) VALUES (#{user.name,jdbcType=VARCHAR},#{user.password,jdbcType=VARCHAR});
    </insert>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.lgh.spring.boot.model.MUser">
        SELECT * FROM t_user WHERE id = #{id};
    </select>

    <select id="selectAll" resultType="com.lgh.spring.boot.model.MUser">
        SELECT * FROM t_user;
    </select>
</mapper>
